* {
  font-family: 'Literata', serif;
}

body {
  text-align: center;
  background-color: rgb(159, 167, 159);
}

button {
  background-color: rgb(51, 50, 50);
  color: #ffffff;
}

input, button{
  padding: 1em;
  font-size: 1em;
}

p {
  font-size: 1.5em;
}

span {
  font: bold;
  font-size: 1.5em;
}